@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=WindSong:wght@400;500&display=swap');

body{
    margin:0;
    background-color: #212121;
}

header {
    display:flex;
    justify-content: space-between;
    background-color: #1a1814;
    width:100%;
    height:100px;
    align-items: center;
    color:#c2ac4c;
    font-family: Montserrat;
}

.hidden-link {
    visibility: hidden;
    opacity:0;
    transition: opacity 0.3s ease;
}

.contact img:hover {
    cursor:help;
}

.shown-link {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#facebook-link {
    right:4em;
    top:1.5em;
    position:absolute;
    background-color: #1a1814;
}

#email-link {
    right:4em;
    top:3.5em;
    position:absolute;
    background-color: #1a1814;
}

header p {
    padding-left:20px;
}

header a {
    color:#c2ac4c;
    text-decoration: none;
}

header a:hover {
    color:rgb(252, 239, 213);
}

h1 {
    font-family: 'Great Vibes';
    font-size:32px;
    
}

h1 span {
    font-family: 'Times New Roman', Times, serif;
    font-size:36px;
}

.contact {
    display:flex;
    flex-direction: column;
    padding:0 20px;
}

.contact img {
    width:30px;
    
}

.splash {
    overflow-y: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;
    background-image: url(assets/cake-collage.png);
    background-position: center;
    background-size:contain;
}

.splash h2 {
    width:100%;
    text-align: center;
    background-color: #00000091;
    padding:50% 0;
    color:#c2ac4c;
    font-family: Montserrat;
    font-weight: 300;
    font-size:32px;
}


.textbox-left {
    width:95%;
    display:grid;
    grid-template-columns: 40% 60%;
    height:500px;
    background-color: #dfb86a;
    padding:0 2.5%
}

.textbox-right {
    width:95%;
    display:grid;
    grid-template-columns: 60% 40%;
    height:500px;
    padding:0 2.5%;
    background-color:#41351e;
}

.textbox-left img, .textbox-right img {
    height:450px;
    width:90%;
    border:#c2ac4c solid 2px;
    margin:25px 0;
}

.textbox-left img {
    justify-self: end;
}

.textbox-left div, .textbox-right div {
    align-self: center;
    text-align: center;
    font-family: Montserrat;
    padding:50px 25px;
    color:#c2ac4c;
}

.textbox-left div {
    background-color: #212121d0;
}

.textbox-right div {
    background-color: #9e8047d0;
    color:#1a1814;
}

.textbox-left h3, .textbox-right h3 {
    font-weight: 700;
}

.textbox-left p, .textbox-right p {
    font-weight: 300;
}

#inquiries {
    font-family: Montserrat;
    display:flex;
    justify-content: center;
    background-color: #212121;
    margin:25px 0;
}

.inquiry-formbox {
    background-color: #c2ac4c;
    padding:60px 10%;
    text-align: center;
}

#sender-submit {
    padding:10px 20px;
    font-family: Montserrat;
    background-color: #212121;
    color:#c2ac4c;
}

.inquiry-formbox h2 {
    margin:0;
}



.footer {
    overflow-y: hidden;
    display:flex;
    justify-content: center;
}

.footer img{
    height:fit-content;
    width:100%;
    max-height:300px;
    max-width:400px;
}

@media screen and (max-width: 700px) {
    .textbox-left, .textbox-right {
        display:flex;
        flex-direction: column;
        height:fit-content;
        align-items: center;
        padding:50px 2.5%;
    }

    .textbox-right img {
    height:400px;
    width:100%;
    border:#c2ac4c solid 2px;
    margin-bottom: 50px;
}

    .textbox-left img {
        height:400px;
    width:100%;
    border:#c2ac4c solid 2px;
    margin-top: 50px;
    }

}

.spacer {
    background-color: #212121;
    width:100%;
    height:50px;
}